p,
a {
  color: #333;
}

section {
  width: 100%;
}

.article-wrapper {
  margin: 50px;
}

.title {
  height: auto;
  padding: 10px 0 10px 25px;
  background-color: #649fd6;
  box-shadow: 0 4px 4px #c4c4c4;
}

.title p {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

.search {
  display: flex;
  margin-bottom: 8px;
}

.search div {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.search select {
  width: 80px;
  height: 35px;
  color: #bbb;
  border: 1px solid #686868;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.search input {
  width: 180px;
  height: 35px;
  padding-left: 10px;
  border: 1px solid #686868;
  border-radius: 3px;
  box-sizing: border-box;
}

.search input::placeholder {
  color: #bbb;
}

.search img {
  margin-left: 8px;
  width: 25px;
}

table {
  width: 100%;
  text-align: center;
}

thead {
  height: 50px;
  background-color: #eaeaea;
}

thead th {
  font-size: 16px;
}

tbody tr {
  height: 50px;
}

tbody td {
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.delete button {
  background-color: #c0c0c0;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 2px 4px #c4c4c4;
}

.write button {
  background-color: #64a0d6;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 2px 4px #c4c4c4;
}

.page a {
  font-size: 18px;
  color: #333;
  margin: 0 10px;
}
