<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Megrim Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">

    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>

    <script src="/js/Dropdown/AsideDropdown.js"></script>
    <script src="/js/Project/modalControllerInProject.js"></script>
    <script src="/js/Project/workStatusColor.js"></script>
    <script src="/js/Project/showOption.js"></script>

    <link rel="icon" sizes="32x32" href="/images/favicon.png">
    <link rel="stylesheet" href="/style/project/inProject.css">
    <link rel="stylesheet" href="/style/project/addProjectModal.css">
    <title>LinkON, 당신의 팀워크를 연결하다.</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="headerLogo">
                <a href="#">
                    <img src="/images/linkON_logo_upscaled.png" alt="logo" class="logo">
                </a>
                <h2 class="logoText">LinkON</h2>
            </div>
            <div class="headerOthers">
                <img src="/images/DarkMode.svg" alt="DarkMode" class="headerIcon">
                <a href="#">
                    <img src="/images/NotificationsNone.svg" alt="Alarm" class="headerIcon">
                </a>
                <a href="#" class="profile">
                    <img src="/images/Avatar.png" alt="Profile" class="headerIcon">
                    <img src="/images/Status.svg" alt="Status" class="Status">
                </a>
            </div>
        </header>

        <main>
            <aside>
                <ul>
                    <a href="#">
                        <li>
                            <img src="/images/Home.svg" class="asideIcon">
                            <p>홈</p>
                        </li>
                    </a>
                    <li class="ListSubheader">
                        <img src="/images/ListSubheader.png">
                    </li>
                    <a href="#">
                        <li>
                            <img src="/images/Message.svg" class="asideIcon">
                            <p>채팅</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="/images/User.svg" class="asideIcon">
                            <p>내 정보</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="/images/File.svg" class="asideIcon">
                            <p>페이지</p>
                        </li>
                    </a>
                    <a href="/view/project/project.html">
                        <li>
                            <img src="/images/Clipboard.svg" class="asideIcon">
                            <p>프로젝트</p>
                        </li>
                    </a>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Edit.svg" class="asideIcon">
                            <p>게시판</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Folder.svg" class="asideIcon">
                            <p>드라이브</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                    <a href="#">
                        <li>
                            <img src="/images/CreditCard.svg" class="asideIcon">
                            <p>멤버십</p>
                        </li>
                    </a>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Tool.svg" class="asideIcon">
                            <p>관리자</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Settings.svg" class="asideIcon">
                            <p>환경설정</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Help.svg" class="asideIcon">
                            <p>고객센터</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                </ul>
                <p class="copyright">Copyright © LinkON. All rights reserved.</p>
            </aside>
            <section>
                <div class="sectionHeader">
                    <h3>롯데정보통신 사내 커뮤니티 게시판 사이트 개발 프로젝트 2조</h3>
                </div>
                <div class="workSection">
                    <div class="workArticle">
                        <div class="articleHeader">
                            <div>
                                <div class="statusColor" style="border: 2px solid rgb(94, 94, 218); background-color: rgba(67, 67, 194, 0.33);"></div>
                                <p class="articleName">Ready</p>
                                <div class="workCount">45</div>
                            </div>
                            <button class="moreBtn">
                                <img src="/images/Morehorizontal.svg" class="MoreIcon" alt="">
                                <div class="MoreOption">
                                    <a href="#">
                                        <img src="/images/edit2.svg" alt="수정아이콘" class="editIcon">
                                        <p>작업 상태 수정</p>
                                    </a>
                                    <a href="#">
                                        <img src="/images/remove.svg" alt="삭제아이콘" class="removeIcon">
                                        <p>삭제</p>
                                    </a>
                                </div>
                            </button>
                        </div>
                        <div class="articleDesc">
                            <p>작업 준비 사항들</p>
                        </div>
                        <div class="articleWrapper">
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                        </div>
                        <div class="articleFooter">
                            <button class="addWorkBtn">작업 추가</button>
                        </div>
                    </div>
                    <div class="workArticle">
                        <div class="articleHeader">
                            <div>
                                <div class="statusColor" style="border: 2px solid rgb(94, 218, 100); background-color: rgba(67, 194, 67, 0.33);"></div>
                                <p class="articleName">Todo</p>
                                <div class="workCount">45</div>
                            </div>
                            <button class="moreBtn">
                                <img src="/images/Morehorizontal.svg" class="MoreIcon" alt="">
                                <div class="MoreOption">
                                    <a href="#">
                                        <img src="/images/edit2.svg" alt="수정아이콘" class="editIcon">
                                        <p>작업 상태 수정</p>
                                    </a>
                                    <a href="#">
                                        <img src="/images/remove.svg" alt="삭제아이콘" class="removeIcon">
                                        <p>삭제</p>
                                    </a>
                                </div>
                            </button>
                        </div>
                        <div class="articleDesc">
                            <p>진행 예정</p>
                        </div>
                        <div class="articleWrapper">
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                        </div>
                        <div class="articleFooter">
                            <button class="addWorkBtn">작업 추가</button>
                        </div>
                    </div>
                    <div class="workArticle">
                        <div class="articleHeader">
                            <div>
                                <div class="statusColor" style="border: 2px solid rgb(255, 226, 99); background-color: rgba(194, 186, 67, 0.33);"></div>
                                <p class="articleName">In Progress</p>
                                <div class="workCount">45</div>
                            </div>
                            <button class="moreBtn">
                                <img src="/images/Morehorizontal.svg" class="MoreIcon" alt="">
                                <div class="MoreOption">
                                    <a href="#">
                                        <img src="/images/edit2.svg" alt="수정아이콘" class="editIcon">
                                        <p>작업 상태 수정</p>
                                    </a>
                                    <a href="#">
                                        <img src="/images/remove.svg" alt="삭제아이콘" class="removeIcon">
                                        <p>삭제</p>
                                    </a>
                                </div>
                            </button>
                        </div>
                        <div class="articleDesc">
                            <p>진행 중</p>
                        </div>
                        <div class="articleWrapper">
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                            <div class="articles">
                                <p class="articleTitle">RQ-012 프로젝트 화면 구현</p>
                                <p class="articleNumber">#1</p>
                            </div>
                        </div>
                        <div class="articleFooter">
                            <button type="button" class="addWorkBtn">작업 추가</button>
                        </div>
                    </div>
                    <button class="addWorkStatus">
                        <img src="/images/Plus.svg" alt="작업 상태 추가 버튼">
                    </button>
                </div>
            </section>
        </main>

    </div>

    <div class="modalContainer">
        <div class="addStatusModal modalWrapper">
            <div class="modalHeader">
                <p>작업 상태 추가</p>
                <button class="modalClose">
                    <img src="/images/cancel.svg" alt="취소 버튼">
                </button>
            </div>
            <div class="modalContent">
                <div class="workStatusColor">
                    <p>작업 상태 색상</p>
                    <input type="color" name="statusColor" class="selectColor">
                    <span class="whatStatusColor"></span>
                </div>
                <div class="workTitle">
                    <p>작업 상태 제목</p>
                    <input type="text" name="statusTitle" placeholder="작업 제목을 입력하세요">
                </div>
                <div class="workContent">
                    <p>작업 상태 내용</p>
                    <textarea name="statusContent" placeholder="작업 내용을 입력하세요"></textarea>
                </div>
                <div class="btnContainer">
                    <div>
                        <button type="button" class="modalClose">취소</button>
                        <button type="button">추가</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="addWorkModal modalWrapper">
            <div class="modalHeader">
                <p>작업 추가</p>
                <button class="modalClose">
                    <img src="/images/cancel.svg" alt="취소 버튼">
                </button>
            </div>
            <div class="modalContent">
                <div class="responsibility">
                    <p>작업 담당자</p>
                    <div class="responsibilityList">작업 담당자 선택</div>
                </div>
                <div class="workTitle">
                    <p>작업 제목</p>
                    <input type="text" name="workTitle" placeholder="작업 제목을 입력하세요">
                </div>
                <div class="workContent">
                    <p>작업 내용</p>
                    <textarea name="workContent" placeholder="작업 내용을 입력하세요"></textarea>
                </div>
                <div class="btnContainer">
                    <div>
                        <button type="button" class="modalClose">취소</button>
                        <button type="button">추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


