<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Megrim Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">

    <!-- Pretendard Font -->
    <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>

    <script src="/js/Dropdown/AsideDropdown.js"></script>
    <script src="/js/Project/showOption.js"></script>
    <script src="/js/Project/modalControllerMain.js"></script>

    <link rel="icon" sizes="32x32" href="/images/favicon.png">
    <link rel="stylesheet" href="/style/project/project.css">
    <link rel="stylesheet" href="/style/project/addProjectModal.css">
    <title>LinkON, 당신의 팀워크를 연결하다.</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="headerLogo">
                <a href="#">
                    <img src="/images/linkON_logo_upscaled.png" alt="logo" class="logo">
                </a>
                <h2 class="logoText">LinkON</h2>
            </div>
            <div class="headerOthers">
                <img src="/images/DarkMode.svg" alt="DarkMode" class="headerIcon">
                <a href="#">
                    <img src="/images/NotificationsNone.svg" alt="Alarm" class="headerIcon">
                </a>
                <a href="#" class="profile">
                    <img src="/images/Avatar.png" alt="Profile" class="headerIcon">
                    <img src="/images/Status.svg" alt="Status" class="Status">
                </a>
            </div>
        </header>

        <main>
            <aside>
                <ul>
                    <a href="#">
                        <li>
                            <img src="/images/Home.svg" class="asideIcon">
                            <p>홈</p>
                        </li>
                    </a>
                    <li class="ListSubheader">
                        <img src="/images/ListSubheader.png">
                    </li>
                    <a href="#">
                        <li>
                            <img src="/images/Message.svg" class="asideIcon">
                            <p>채팅</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="/images/User.svg" class="asideIcon">
                            <p>내 정보</p>
                        </li>
                    </a>
                    <a href="#">
                        <li>
                            <img src="/images/File.svg" class="asideIcon">
                            <p>페이지</p>
                        </li>
                    </a>
                    <a href="/view/project/project.html">
                        <li>
                            <img src="/images/Clipboard.svg" class="asideIcon">
                            <p>프로젝트</p>
                        </li>
                    </a>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Edit.svg" class="asideIcon">
                            <p>게시판</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Folder.svg" class="asideIcon">
                            <p>드라이브</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                    <a href="#">
                        <li>
                            <img src="/images/CreditCard.svg" class="asideIcon">
                            <p>멤버십</p>
                        </li>
                    </a>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Tool.svg" class="asideIcon">
                            <p>관리자</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Settings.svg" class="asideIcon">
                            <p>환경설정</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                    <a href="#" class="dropdown-toggle">
                        <li>
                            <img src="/images/Help.svg" class="asideIcon">
                            <p>고객센터</p>
                        </li>
                        <img src="/images/RightArrow.svg" alt="RightArrow" class="rightArrow">
                    </a>

                    <div class="dropdown displayNone dropdown-false">
                        <ul class="dropItem">
                            <a href="#">
                                <li>공지사항</li>
                            </a>
                            <a href="#">
                                <li>고객문의</li>
                            </a>
                        </ul>
                    </div>
                </ul>
                <p class="copyright">Copyright © LinkON. All rights reserved.</p>
            </aside>
            <section>
                <div class="sectionHeader">
                    <h3>프로젝트</h3>
                    <button type="button" class="addProject">+ 새 프로젝트 추가</button>
                </div>
                <div class="projectList">
                    <div class="projects">
                        <div class="projectInfo">
                            <div>
                                <img src="/images/projects.svg" alt="icon" class="projectsIcon">
                                <a href="#" class="projectTitle">롯데2차 사내 게시판 앱 프로젝트</a>
                            </div>
                            <p class="editDate">1시간 전에 업데이트됨</p>
                        </div>
                        <div class="MoreBtnContainer">
                            <button type="button" class="MoreIcon">
                                <img src="/images/Morehorizontal.svg" alt="more icon">
                            </button>
                            <div class="MoreOption">
                                <a href="#">
                                    <img src="/images/edit2.svg" alt="수정아이콘" class="editIcon">
                                    <p>프로젝트 수정</p>
                                </a>
                                <a href="#">
                                    <img src="/images/remove.svg" alt="삭제아이콘" class="removeIcon">
                                    <p>프로젝트 삭제</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="projects">
                        <div class="projectInfo">
                            <div>
                                <img src="/images/projects.svg" alt="icon" class="projectsIcon">
                                <a href="/view/project/inProject.html" class="projectTitle">롯데정보통신 사내 커뮤니티 게시판 사이트 개발 프로젝트 2조</a>
                            </div>
                            <p class="editDate">1시간 전에 업데이트됨</p>
                        </div>
                        <div class="MoreBtnContainer">
                            <button type="button" class="MoreIcon">
                                <img src="/images/Morehorizontal.svg" alt="more icon">
                            </button>
                            <div class="MoreOption">
                                <a href="#">
                                    <img src="/images/edit2.svg" alt="수정아이콘" class="editIcon">
                                    <p>프로젝트 수정</p>
                                </a>
                                <a href="#">
                                    <img src="/images/remove.svg" alt="삭제아이콘" class="removeIcon">
                                    <p>프로젝트 삭제</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="projects">
                        <div class="projectInfo">
                            <div>
                                <img src="/images/projects.svg" alt="icon" class="projectsIcon">
                                <a href="#" class="projectTitle">롯데2차 사내 게시판 앱 프로젝트</a>
                            </div>
                            <p class="editDate">1시간 전에 업데이트됨</p>
                        </div>
                        <div class="MoreBtnContainer">
                            <button type="button" class="MoreIcon">
                                <img src="/images/Morehorizontal.svg" alt="more icon">
                            </button>
                            <div class="MoreOption">
                                <a href="#">
                                    <img src="/images/edit2.svg" alt="수정아이콘" class="editIcon">
                                    <p>프로젝트 수정</p>
                                </a>
                                <a href="#">
                                    <img src="/images/remove.svg" alt="삭제아이콘" class="removeIcon">
                                    <p>프로젝트 삭제</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>

    <div class="modalContainer">
        <div class="addProjectModal modalWrapper">
            <div class="modalHeader">
                <p>프로젝트 추가</p>
                <button class="modalClose">
                    <img src="/images/cancel.svg" alt="취소 버튼">
                </button>
            </div>
            <div class="modalContent">
                <div class="inputProjectName">
                    <p>프로젝트 이름</p>
                    <input type="text" name="projectName" placeholder="프로젝트 이름을 입력하세요">
                </div>
                <div class="btnContainer">
                    <div>
                        <button type="button" class="modalClose">취소</button>
                        <button type="button">추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


