<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>LinkON 아이디 찾기</title>
    <link rel="stylesheet" href="/style/user/findId.css" />
    <script src="/js/user/findId.js"></script>
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <img
          src="/images/user/2조 로고 아이콘.png"
          alt="LinkON 로고"
          class="logo"
        />
        <h1>LinkON</h1>

        <section id="find-pw">
          <h2>아이디 찾기</h2>
          <p>가입 시 등록한 이름과 이메일 주소를 입력해 주세요.</p>
          <form id="find-id-form">
            <div class="input-box">
              <input
                type="text"
                id="user-name"
                placeholder="이름 입력"
                required
              />
            </div>
            <div class="input-box">
              <input
                type="email"
                id="user-email"
                placeholder="이메일 주소 입력"
                required
              />
              <button type="button" id="verify-btn" class="btn verify-btn">
                인증하기
              </button>
            </div>
            <div class="input-box" id="verification-box" style="display: none">
              <input
                type="text"
                id="verification-code"
                placeholder="인증코드 입력"
                required
              />
              <button id="btnAuthEmail" type="button" class="btn">확인</button>
            </div>
            <div>
              <span class="result"></span>
            </div>
            <div class="btn-container">
              <button type="button" class="btn cancel-btn">취소</button>
              <button type="submit" class="btn login-btn" disabled>
                아이디 찾기
              </button>
            </div>
          </form>
        </section>

        <div class="divider">또는</div>

        <div class="social-login">
          <button class="google">G 구글</button>
          <button class="naver">네이버</button>
          <button class="kakao">카카오톡</button>
        </div>

        <div class="signup">
          <a href="/view/user/signup.html">회원가입</a>
        </div>
      </div>
    </div>
  </body>
</html>
