p,
a {
  color: #333;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

section {
  width: 100%;
}

.article-wrapper {
  margin: 50px;
}

.title {
  height: auto;
  padding: 10px 0 10px 25px;
  background-color: #649fd6;
  box-shadow: 0 4px 4px #c4c4c4;
}

.title p {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}

.move-list {
  font-size: 15px;
  font-weight: 600;
}

.bold-line {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  border-top: 3px solid #787878;
}

.bold-line select {
  border: 1px solid #555;
  border-radius: 5px;
  margin-left: 50px;
  padding: 7px;
}

.inline {
  margin-top: 9px;
}

.check {
  margin-left: 50px;
}

.bold-line > label {
  font-size: 18px;
}

.line {
  font-size: 20px;
  font-weight: bold;
  border-top: 2px solid #eaeaea;
}
.line > label {
  margin-right: 50px;
  font-size: 18px;
}

.title-name {
  margin-right: 50px;
  font-size: 18px;
}

.title-input {
  width: 500px;
  height: 30px;
  padding: 0 0 0 10px;
  border: 1px solid #555;
  border-radius: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  padding: 20px;
}

#content {
  width: 900px;
  height: 200px;
  border-radius: 5px;
}

input[type="radio"] {
  margin-left: 10px;
}

.btn-area1 {
  margin-top: 30px;
  text-align: right;
}

.btn-area2 {
  text-align: center;
  margin-top: 50px;
}

.all-button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.all-button:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.btn-edit {
  background-color: #64a0d6;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 2px 4px #c4c4c4;
}

.btn-delete {
  margin-left: 8px;
  background-color: #c0c0c0;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 2px 4px #c4c4c4;
}

.btn-back {
  background-color: #64a0d6;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0 2px 4px #c4c4c4;
}
