#projectMain {
  width: 100%;
  padding: 32px 20px;
  background-color: #fafafa;

    .sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 28px;
    margin-bottom: 28px;
    }

    .sectionHeader h3 {
    font-size: 24px;
    font-weight: 500;
    }

    .addProject {
    width: 140px;
    height: 36px;
    background-color: #639FD5;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
    }

    .addProject:hover {
    background-color: #5c91c0;
    transition: 0.3s;
    }

    .projectList {
    display: flex;
    row-gap: 12px;
    flex-direction: column;
    }

    .projects {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #eee;
    background-color: white;
    border-radius: 6px;
    gap: 6px;
    }

    .projectInfo > div {
    display: flex;
    align-items: center;
    gap: 6px;
    }

    .projectTitle {
    font-size: 16px;
    font-weight: 500;
    }

    .projectsIcon {
    width: 24px;
    }

    .editDate {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #888;
    height: 20px;
    }

    .editDate::before {
    content: "·";
    font-size: 20px;
    padding-right: 6px;
    }

    .MoreIcon {
    background-color: inherit;
    border: none;
    cursor: pointer;
    }

    .MoreIcon > img {
    width: 24px;
    }

    .MoreBtnContainer {
      position: relative;
      display: flex;
      align-items: center;
        
        .MoreOption {
            z-index: 999;
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 30px;
            right: -6px;
            width: 120px;
            padding: 8px 6px;
            border-radius: 8px;
            background-color: white;
            box-shadow: 0px 0px 0px 1px #d1d9e080, 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f;
        }

        .MoreOption > button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border: none;
          border-radius: 8px;
          padding: 8px 0;
          margin: 2px 0;
          cursor: pointer;
        }

        .MoreOption > button:hover {
          transition: 0.3s;
          background-color: #f5f5f5;
        }

        .MoreOption > a {
            display: flex;
            align-items: center;
            margin: 0 6px;
            padding: 6px 12px 6px 6px;
        }

        .MoreOption > a:first-child {
            padding-bottom: 6px;
        }

        .MoreOption > a:hover {
            background-color: #f5f5f5;
            border-radius: 8px;
        }

        .MoreOption p {
            font-size: 12px;
        }

        .removeIcon {
            width: 16px;
            margin-right: 8px;
        }

        .editIcon {
            width: 16px;
            margin-right: 8px;
        }

    } 
}
