* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
}

header {
  box-shadow: 0px 2px 6px 0px rgba(208, 208, 208, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 20px;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 65px;
}

.logo {
  width: 40px;
  height: 40px;
}

.logoText {
  font-family: "Megrim", system-ui;
  font-size: 22px;
}

.headerOthers {
  display: flex;
  align-items: center;
  gap: 22px;
}

.headerOthers > a {
  display: flex;
  align-items: center;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
}

.headerIcon {
  width: 26px;
}

.Status {
  position: absolute;
  width: 10px;
  bottom: 0;
  right: 0;
}

aside {
  position: relative;
  width: 200px;
  height: 100vh;
  padding: 18px 12px;
  box-shadow: 2px 0px 6px 0px rgba(208, 208, 208, 0.25);
}

aside > ul > a {
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
  margin: 8px 0;
}

aside > ul > a > li {
  display: flex;
  align-items: center;
  gap: 10px;
}

aside > ul > a:hover:not(.ListSubheader) {
  border-radius: 12px;
  background-color: #f9f9f9;
  transition: 0.3s;
}

.ListSubheader > img {
  width: 200px;
}

.asideIcon {
  width: 24px;
}

.copyright {
  position: absolute;
  width: inherit;
  bottom: 0px;
  padding: 12px 0;
  margin: 0;
  background-color: white;
  font-size: 10px;
  text-align: center;
  color: #777;
  border-top: 1px solid #fafafa;
}

.dropdown {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-true {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.dropdown-false {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.dropItem > a > li {
  padding: 17px 0px 17px 42px;
  margin: 8px 0;
  font-size: 12px;
  border-radius: 12px;
}

.rightArrow {
  transition: transform 0.3s ease;
}

.rotate-open {
  transform: rotate(90deg);
}

.rotate-close {
  transform: rotate(0deg);
}

.displayNone {
  display: none;
}

main {
  display: flex;
}

section {
  width: 100%;
  padding: 32px 20px;
  background-color: #fafafa;
    overflow-x: auto;   /* 또는 scroll */
  white-space: nowrap; 
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 28px;
  margin-bottom: 28px;
}

.sectionHeader h3 {
  font-size: 24px;
  font-weight: 500;
}

.addWorkStatus {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 4px;
  cursor: pointer;
  width: 32px;
  height: 28px;
}

.addWorkStatus:hover {
  transition: 0.3s;
  background-color: #f5f5f5;
}

.addWorkStatus > img {
  width: 22px;
}

.workSection {
  display: flex;
  column-gap: 12px;
}

.workArticle {
  width: 350px;
  height: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-top: 16px;
}

.articleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6px;
  padding: 0 16px;
}

.articleHeader > div {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.statusColor {
  width: 12px;
  height: 12px;
  border-radius: 16px;
}

.articleName {
  font-size: 16px;
  font-weight: 600;
}

.workCount {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 500;
  color: #666;
  letter-spacing: -0.4px;
}

.moreBtn {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
}

.moreBtn > img {
  width: 20px;
}

.articleDesc {
  margin: 6px 0 10px 0;
  padding: 0 16px;
}

.articleDesc > p {
  color: #888;
}

.articleWrapper {
  height: 70vh;
  overflow-y: scroll;
  margin-top: 16px;
  padding: 0 16px;
}

.articles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 16px 16px 16px 10px;
  box-shadow: 0px 1px 1px 0px #25292e1a, 0px 3px 6px 0px #25292e1f;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.articleTitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleNumber {
  font-size: 13px;
  color: #666;
  margin-left: 8px;
}

.articleFooter {
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #ddd;
}

.articleFooter > button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 16px 20px 16px 20px;
  background-color: white;
  border: none;
  color: #777;
  cursor: pointer;
  font-weight: 600;
}

.articleFooter > button:hover {
  transition: 0.3s;
  background-color: #f6f6f6;
}

.articleFooter > button::before {
  content: "";
  background-image: url("/images/Plus.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  object-fit: cover;
  padding-right: 4px;
}

.MoreOption {
  display: none !important;
  position: absolute;
  top: 24px;
  right: -6px;
  width: 120px;
  flex-direction: column;
  padding: 8px 0;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px #d1d9e080, 0px 6px 12px -3px #25292e0a, 0px 6px 18px 0px #25292e1f;
}

.MoreOption > a {
  display: flex;
  align-items: center;
  margin: 0 6px;
  padding: 6px 12px 6px 6px;
}

.MoreOption > a:first-child {
  padding-bottom: 6px;
}

.MoreOption > a:hover {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.MoreOption p {
  font-size: 12px;
}

.removeIcon {
  width: 16px;
  margin-right: 8px;
}

.editIcon {
  width: 16px;
  margin-right: 8px;
}